<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SitOrStartPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AAF423F1F0DD3C000E2CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AAF42551F0DD3C000E2CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AAF42601F0DD3C000E2CF56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
